@{
    ViewData["Title"] = "All users";
}

<h2>Table of all users</h2>
<h2>All users</h2>
<table class="table">
    <tr>
        <th>User ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Password</th>
    </tr>
    @foreach(var item in Model)
    {
<tr>
    <td>@item.ID</td>
    <td>@item.FirstName</td>
    <td>@item.LastName</td>
    <td>@item.Age</td>
    <td>@item.Password</td>
</tr>
    }
</table>

<form class="d-flex">

    <div>s

        <label for="deletealbum">delete user</label>
        <input class="form-control me-sm-2" type="int" name="deleteID" value="" />
    </div>
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">delete</button>
    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Albums" asp-action="deleteAlbum">delete</a>
                        </li>
</form>