<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory Stock Card</title>
    <link rel="icon" type="image/x-icon" href="../Utill/dist/img/Group2_LOGO.ico">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../Utill/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="../Utill/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../Utill/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="../Utill/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../Utill/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../Utill/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="../Utill/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="../Utill/plugins/summernote/summernote-bs4.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    </div><!-- /.row -->

                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                            <div class="card mb-3">
                                <div class="card-header">
                                    <h3><i class="fa fa-table"></i> GeneralLadger Account Payable</h3>
                                </div>

                                <div class="card-body">

                                    <div class="container">


                                        <div>

                                            <!--///////////////////////////////////////////////////////////////////////////////////
                                                    ///////////////////////  TABLE HERE////////////////////////////////////////////////////
                                                    //////////////////////////////////////////////////////////////////////////////////-->
                                            <div class="table-responsive">
                                                <!--Sort-->
                                                <link rel="stylesheet"
                                                    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                                                <script
                                                    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
                                                    </script>
                                                <script
                                                    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
                                                    </script>
                                                <script
                                                    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
                                                    </script>
                                                <link rel="stylesheet"
                                                    href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
                                                <script
                                                    src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
                                                    </script>
                                                <script
                                                    src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
                                                    </script>
                                                <!-- Search -->
                                                <meta charset="utf-8">
                                                <meta name="viewport" content="width=device-width, initial-scale=1">
                                                <script
                                                    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                                                <script
                                                    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                                                <style>
                                                    table {
                                                        border-spacing: 0;
                                                        width: 100%;
                                                        border: 1px solid #ddd;
                                                    }

                                                    th {
                                                        cursor: pointer;
                                                    }

                                                    th,
                                                    td {
                                                        text-align: left;
                                                        padding: 16px;
                                                    }

                                                    tr:nth-child(even) {
                                                        background-color: #f2f2f2
                                                    }
                                                </style>

                                                <!-- data table-->
                                                <input class="form-control" id="myInput" type="text"
                                                    placeholder="Search..">
                                                <br>
                                                <table class="table">
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>Description</th>
                                                        <th>Debit</th>
                                                        <th>Credit</th>
                                                        <th>Balance</th>
                                                    </tr>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@item.GLAP_id</td>
                                                            <td>@item.Date</td>
                                                            <td>@item.Time</td>
                                                            <td>@item.Description</td>
                                                            <td>@item.Debit</td>
                                                            <td>@item.Credit</td>
                                                            <td>@item.Balance</td>
                                                        </tr>
                                                    }
                                                </table>
                                                <!-- Search -->
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#myInput").on("keyup", function () {
                                                            var value = $(this).val().toLowerCase();
                                                            $("#myTable tr").filter(function () {
                                                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                            });
                                                        });
                                                    });
                                                </script>

                                                <!-- Sort -->
                                                <script>
                                                    $('#myTable').DataTable();
                                                </script>
                                                <script>
                                                    function sortTable(n) {
                                                        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                                        table = document.getElementById("myTable");
                                                        switching = true;
                                                        //Set the sorting direction to ascending:
                                                        dir = "asc";
                                                        /*Make a loop that will continue until
                                                        no switching has been done:*/
                                                        while (switching) {
                                                            //start by saying: no switching is done:
                                                            switching = false;
                                                            rows = table.rows;
                                                            /*Loop through all table rows (except the
                                                            first, which contains table headers):*/
                                                            for (i = 1; i < (rows.length - 1); i++) {
                                                                //start by saying there should be no switching:
                                                                shouldSwitch = false;
                                                                /*Get the two elements you want to compare,
                                                                one from current row and one from the next:*/
                                                                x = rows[i].getElementsByTagName("TD")[n];
                                                                y = rows[i + 1].getElementsByTagName("TD")[n];
                                                                /*check if the two rows should switch place,
                                                                based on the direction, asc or desc:*/
                                                                if (dir == "asc") {
                                                                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                                        //if so, mark as a switch and break the loop:
                                                                        shouldSwitch = true;
                                                                        break;
                                                                    }
                                                                } else if (dir == "desc") {
                                                                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                                        //if so, mark as a switch and break the loop:
                                                                        shouldSwitch = true;
                                                                        break;
                                                                    }
                                                                }
                                                            }
                                                            if (shouldSwitch) {
                                                                /*If a switch has been marked, make the switch
                                                                and mark that a switch has been done:*/
                                                                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                                                switching = true;
                                                                //Each time a switch is done, increase this count by 1:
                                                                switchcount++;
                                                            } else {
                                                                /*If no switching has been done AND the direction is "asc",
                                                                set the direction to "desc" and run the while loop again.*/
                                                                if (switchcount == 0 && dir == "asc") {
                                                                    dir = "desc";
                                                                    switching = true;
                                                                }
                                                            }
                                                        }
                                                    }
                                                </script>
                                            </div>
                                            <!--///////////////////////////////////////////////////////////////////////////////////
                                                    ///////////////////////  TABLE HERE////////////////////////////////////////////////////
                                                    //////////////////////////////////////////////////////////////////////////////////-->







                                        </div>
                                    </div>
                                </div>






                            </div>


                        </div><!-- end card body -->

                    </div><!-- end card-->

                </div><!-- end col-->

            </div><!-- end row-->
        </div><!-- /.container-fluid -->
    </div>
    </div>
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="../Utill/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="../Utill/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="../Utill/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="../Utill/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="../Utill/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="../Utill/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="../Utill/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="../Utill/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="../Utill/plugins/moment/moment.min.js"></script>
    <script src="../Utill/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="../Utill/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="../Utill/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="../Utill/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../Utill/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../Utill/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="../Utill/dist/js/pages/dashboard.js"></script>
</body>

</html>