<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory Stock Card</title>
    <link rel="icon" type="image/x-icon" href="../Utill/dist/img/Group2_LOGO.ico">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../Utill/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="../Utill/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../Utill/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="../Utill/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../Utill/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../Utill/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="../Utill/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="../Utill/plugins/summernote/summernote-bs4.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Inventory Stock Card</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                        <div class="card mb-3">
                            <div class="card-header">
                                <h3><i class="fa fa-table"></i> Inventory Stock Card </h3>
                            </div>

                            <div class="card-body">

                                <div class="container">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="invoice-title text-center mb-3">
                                                <h1>PTT</h1>
                                                <h2>Inventory Stock Card</h2>
                                                <h5><strong>Date:</strong> May, 2022</h5>

                                            </div>
                                            <hr>

                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Purchase Order</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-condensed">
                                                                <thead>
                                                                    <tr>
                                                                        <td><strong>No.</strong></td>
                                                                        <td class="text-left"><strong>date</strong></td>
                                                                        <td class="text-right"><strong>time</strong>
                                                                        </td>
                                                                        <td class="text-right"><strong>Payment
                                                                                No</strong></td>
                                                                        <td class="text-right"><strong>Invoice
                                                                                No</strong></td>
                                                                        <td class="text-right"><strong>User ID</strong>
                                                                        </td>
                                                                        <td class="text-right"><strong>Order ID</strong>
                                                                        </td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <tr>
                                                                            <td>@item.purchaseOrder_id</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>@item.paymentNo</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>@item.invoiceNo</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>@item.user_id</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>@item.price_id</td>
                                                                        </tr>
                                                                    }
                                                                    <tr>
                                                                        <td class="thick-line"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                </div>
                            </div>






                        </div>


                    </div><!-- end card body -->

                </div><!-- end card-->

            </div><!-- end col-->

        </div><!-- end row-->
    </div><!-- /.container-fluid -->
    </div>
    </div>
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="../Utill/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="../Utill/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="../Utill/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="../Utill/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="../Utill/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="../Utill/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="../Utill/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="../Utill/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="../Utill/plugins/moment/moment.min.js"></script>
    <script src="../Utill/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="../Utill/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="../Utill/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="../Utill/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../Utill/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../Utill/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="../Utill/dist/js/pages/dashboard.js"></script>
</body>

</html>